.container {
  background-color: var(--bgSoft);
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnNewUser {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--bgBtn);
  color: var(--text);
}

.table {
  width: 100%;
}

.table td {
  padding: 10px;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
}

.buttons {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: var(--text);
  cursor: pointer;
}

.btnView {
  background-color: var(--bgHover);
  color: white;
}

.btnEdit {
  background-color: var(--bgHover);
  color: white;
}

.btnDelete {
  background-color: var(--bgHover);
  color: crimson;
}

.status {
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  color: #ffffff;
}

.active {
  background-color: #f7cb7375;
}

.inactive {
  background-color: #afd6ee75;
}
